.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B4F72;
  padding: 1rem 5%;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.nav-links a:hover {
  color: #F18F01;
}
